<div id="footer" style="color: rgb(77, 74, 74); font-size: 25px; font-weight: 600; font-style: italic; position: absolute; bottom: 10px; opacity: 0.8;">
    <sub><i class="fa-regular fa-copyright"></i>&nbsp Designed and Developed by Victor Mitra</sub>

</div>    